<div class="quest__confirm__popup">
    <h2 class="sub-title uppercase">{{'quest.detail_view.popup.confirm_completion.text' | translate}}</h2>
    <span ng-click="dismissQuest()" class="btn btn-danger btn-default-alt popup__button"><i class="fa fa-times"></i> {{'quest.detail_view.popup.button.abort' | translate}}</span>
    <span ng-click="completeQuest(quest)" class="btn btn-default btn-default-alt popup__button"><i class="fa fa-check"></i> {{'quest.detail_view.popup.button.yes' | translate}}</span>
</div>
