<ul class="filter__header">
  <li ng-class="{ 'active': app.submoduleName == '' }"><a ui-sref="gym" translate="frontend.gym.tabs.workouts" translate-default="">Workouts</a></li>
  <li ng-class="{ 'active': app.submoduleName == 'hiits-lows-burns' }"><a ui-sref="gym.hiits-lows-burns" translate="frontend.gym.tabs.hiit_low_burn" translate-default="">HIITs / LOWs / BURNs</a></li>
  <li ng-class="{ 'active': app.submoduleName == 'fitness-mark' }"><a ui-sref="gym.fitness-mark" translate="frontend.gym.tabs.fitness_mark" translate-default="">The Fitness Mark</a></li>
  <li ng-class="{ 'active': app.submoduleName == 'tools' }"><a ui-sref="gym.tools" translate="frontend.gym.tabs.workout_tools" translate-default="">Workout tools</a></li>
  <li ng-class="{ 'active': app.submoduleName == 'experts' }"><a ui-sref="gym.experts" translate="frontend.gym.tabs.experts" translate-default="">Gym experts</a></li>
</ul>
