<div class="demo-page-blocker">
    <div class="coming-soon"></div>
</div>


<section class="user-level user-progress section--honky">
  <div class="container">
    <div class="col-sidebar">
      <img class="user-level__picture" src="images/icon-community.png">
    </div>
    <div class="col-main">
      <p><strong>SwitchFit Community</strong> is a all-in one resource to your healthy living. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam at porttitor sem. Aliquam erat volutpat. Donec placerat nisl magna, et faucibus arcu condimentum sed. Lorem ipsum dolor sit amet.</p>
    </div>
  </div>
</section>

<section class="l-section-main section--community">
  <div class="container">
    <div class="main-content content--honky">
      <div class="community-table">
        <div class="col-third">
          <div class="community-table__header">
            <div class="sub-title pull-left">SWITCHFIT IN YOUR AREA</div>
            <div class="pull-right"><i class="fa fa-arrow-circle-right link-color"></i> <a href="#">View all</a></div>
          </div>
          <div class="community-table__content">
            <div class="text-center"><img src="temp-img/map.jpg"></div>
            <div class="sub-title">Your City Team Statistics:</div>
            <ul class="community-table__statistics">
              <li>
                <span class="community-table__statistics__left">Your city:</span>
                <span class="community-table__statistics__right">Hessen</span>
              </li>
              <li>
                <span class="community-table__statistics__left">Active members:</span>
                <span class="community-table__statistics__right">345</span>
              </li>
              <li>
                <span class="community-table__statistics__left">Avg. weight loss so far:</span>
                <span class="community-table__statistics__right">6.5 kg / week</span>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-third">
          <div class="community-table__header">
            <div class="sub-title pull-left">LATEST QUESTIONS<br>& ANSWERS</div>
            <div class="pull-right"><i class="fa fa-arrow-circle-right link-color"></i> <a href="#">View all</a></div>
          </div>
          <div class="community-table__content">
            <ul class="community-table__feed">
              <li>
                <div class="community-table__feed__figure">
                  <div class="community-table__feed__figure__votes label--info"><span>179<i class="fa fa-thumbs-o-up"></i></span>votes</div>
                </div>
                <div class="community-table__feed__content">
                  <p>What's the difference between this and that...</p>
                  <p><strong>Latest answer:</strong> <em>5 min ago</em></p>
                  <p><strong>Category:</strong> <em>A</em></p>
                </div>
              </li>
              <li>
                <div class="community-table__feed__figure">
                  <div class="community-table__feed__figure__votes label--warning"><span>12<i class="fa fa-thumbs-o-up"></i></span>votes</div>
                </div>
                <div class="community-table__feed__content">
                  <p>What's the difference between this and that...</p>
                  <p><strong>Latest answer:</strong> <em>5 min ago</em></p>
                  <p><strong>Category:</strong> <em>B</em></p>
                </div>
              </li>
              <li>
                <div class="community-table__feed__figure">
                  <div class="community-table__feed__figure__votes label--danger"><span>6<i class="fa fa-thumbs-o-up"></i></span>votes</div>
                </div>
                <div class="community-table__feed__content">
                  <p>What's the difference between this and that...</p>
                  <p><strong>Latest answer:</strong> <em>5 min ago</em></p>
                  <p><strong>Category:</strong> <em>C</em></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="col-third">
          <div class="community-table__header">
            <div class="sub-title pull-left">SWITCHFIT NEWS</div>
            <div class="pull-right"><i class="fa fa-arrow-circle-right link-color"></i> <a href="#">View all</a></div>
          </div>
          <div class="community-table__content">
            <ul class="community-table__feed">
              <li>
                <div class="community-table__feed__figure">
                  <img src="../temp-img/module.png">
                </div>
                <div class="community-table__feed__content">
                  <p><strong>The Case for Intermittent Fasting</strong></p>
                  <p>Donec placerat nisl magna, et faucibus arcu condimentum...</p>
                  <p><em>Posted on 5th Dec by Channette K.</em></p>
                </div>
              </li>
              <li>
                <div class="community-table__feed__figure">
                  <img src="../temp-img/module.png">
                </div>
                <div class="community-table__feed__content">
                  <p><strong>The Case for Intermittent Fasting</strong></p>
                  <p>Donec placerat nisl magna, et faucibus arcu condimentum...</p>
                  <p><em>Posted on 5th Dec by Channette K.</em></p>
                </div>
              </li>
              <li>
                <div class="community-table__feed__figure">
                  <img src="../temp-img/module.png">
                </div>
                <div class="community-table__feed__content">
                  <p><strong>The Case for Intermittent Fasting</strong></p>
                  <p>Donec placerat nisl magna, et faucibus arcu condimentum...</p>
                  <p><em>Posted on 5th Dec by Channette K.</em></p>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>

      <div class="main-content__body padding-md">
        <div class="clearfix mb-base">
          <div class="pull-left">
            <div class="sub-title nmb">SWITCHFIT LIFE FEED</div>
            <p>Live feed of latest diary entries shared by SwitchFeet users</p>
          </div>
          <span class="btn btn-success pull-right" ng-click="app.openModal({ templateUrl: 'views/modals/add-diary-entry.html', class:'add-diary-entry modal-sm' })"><i class="fa fa-picture-o"></i> Upload your picture</span>
        </div>

        <ul class="img-items-list community">
          <li class="img-item">
            <figure>
              <img class="img-responsive" src="temp-img/community-1.jpg">
            </figure>
            <div class="img-item__desc">
              <p>Sometimes I think it’s a bit
              difficult to make...</p>
              by <strong>Samantha Fox</strong>
            </div>
          </li>
          <li class="img-item">
            <figure>
              <img class="img-responsive" src="temp-img/community-2.jpg">
            </figure>
            <div class="img-item__desc">
              <p>Sometimes I think it’s a bit
                difficult to make...</p>
              by <strong>Samantha Fox</strong>
            </div>
          </li>
          <li class="img-item">
            <figure>
              <img class="img-responsive" src="temp-img/community-3.jpg">
            </figure>
            <div class="img-item__desc">
              <p>Sometimes I think it’s a bit
                difficult to make...</p>
              by <strong>Samantha Fox</strong>
            </div>
          </li>
          <li class="img-item">
            <figure>
              <img class="img-responsive" src="temp-img/community-4.jpg">
            </figure>
            <div class="img-item__desc">
              <p>Sometimes I think it’s a bit
                difficult to make...</p>
              by <strong>Samantha Fox</strong>
            </div>
          </li>
          <li class="img-item">
            <figure>
              <img class="img-responsive" src="temp-img/community-5.jpg">
            </figure>
            <div class="img-item__desc">
              <p>Sometimes I think it’s a bit
                difficult to make...</p>
              by <strong>Samantha Fox</strong>
            </div>
          </li>
          <li class="img-item">
            <figure>
              <img class="img-responsive" src="temp-img/community-5.jpg">
            </figure>
            <div class="img-item__desc">
              <p>Sometimes I think it’s a bit
                difficult to make...</p>
              by <strong>Samantha Fox</strong>
            </div>
          </li>
          <li class="img-item">
            <figure>
              <img class="img-responsive" src="temp-img/community-6.jpg">
            </figure>
            <div class="img-item__desc">
              <p>Sometimes I think it’s a bit
                difficult to make...</p>
              by <strong>Samantha Fox</strong>
            </div>
          </li>
          <li class="img-item">
            <figure>
              <img class="img-responsive" src="temp-img/community-7.jpg">
            </figure>
            <div class="img-item__desc">
              <p>Sometimes I think it’s a bit
                difficult to make...</p>
              by <strong>Samantha Fox</strong>
            </div>
          </li>
          <li class="img-item">
            <figure>
              <img class="img-responsive" src="temp-img/community-8.jpg">
            </figure>
            <div class="img-item__desc">
              <p>Sometimes I think it’s a bit
                difficult to make...</p>
              by <strong>Samantha Fox</strong>
            </div>
          </li>
          <li class="img-item">
            <figure>
              <img class="img-responsive" src="temp-img/community-9.jpg">
            </figure>
            <div class="img-item__desc">
              <p>Sometimes I think it’s a bit
                difficult to make...</p>
              by <strong>Samantha Fox</strong>
            </div>
          </li>
        </ul>

        <div class="text-center"><span class="btn btn-success btn-show-more">Show more</span></div>
      </div>
    </div>
  </div>
</section>
