<div ng-controller="ModalMotivationCtrl">
  <span class="close" ng-click="$close()"></span>
  <div class="sub-title" translate="frontend.diary.page.goal_motivation" translate-default="">My Goal and motivation</div>
  <p class="mb-md"><em>{{whatMotivatesYouMost}}</em></p>
  <p class="mb-md"><em>{{whatDoIfMotivationIsLow}}</em></p>
  <hr class="dotted mb-md">
  <div class="sub-title" translate="frontend.diary.page.people_inspire" translate-default="">People who inspire you</div>
  <ul class="people-list">
    <li>{{whoIsYourBestContactForMotivation}}</li>
  </ul>
</div>