<div class="point-explanation-full-modal">
  <span class="close" ng-click="$close()"></span>
  <div class="point-explanation-full-modal__container">
    <div class="point-explanation-full">
      <div class="basic-title">SwitchFit! Point Explanation</div>
        <p>{{ 'point.explanation.headline'|translate }}</p>
        <table id="point-explanation-table">
            <tr>
                <th>{{ 'point.explanation.table.header1'|translate }}</th>
                <th>{{ 'point.explanation.table.header2'|translate }}</th>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_FEED_CREATE_ENTRY.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_FEED_CREATE_ENTRY.points'|translate }}</td>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_FEED_CREATE_ENTRY_WITH_PHOTO.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_FEED_CREATE_ENTRY_WITH_PHOTO.points'|translate }}</td>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_FEED_CREATE_COMMENT.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_FEED_CREATE_COMMENT.points'|translate }}</td>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_QUEST_COMPLETE.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_QUEST_COMPLETE.points'|translate }}</td>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_MEASUREMENT_INPUT_WEIGHT.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_MEASUREMENT_INPUT_WEIGHT.points'|translate }}</td>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_MEASUREMENT_INPUT_BMI.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_MEASUREMENT_INPUT_BMI.points'|translate }}</td>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_DIARY_CREATE_ENTRY.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_DIARY_CREATE_ENTRY.points'|translate }}</td>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_DIARY_CREATE_ENTRY_WITH_PHOTO.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_DIARY_CREATE_ENTRY_WITH_PHOTO.points'|translate }}</td>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_DIARY_INPUT_EMOTION.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_DIARY_INPUT_EMOTION.points'|translate }}</td>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_ACADEMY_QUIZ_SOLVE.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_ACADEMY_QUIZ_SOLVE.points'|translate }}</td>
            </tr>
            <tr>
                <td>{{ 'point.explanation.table.ACTIVITY_ACADEMY_MODULE_SOLVE.text'|translate }}</td>
                <td>{{ 'point.explanation.table.ACTIVITY_ACADEMY_MODULE_SOLVE.points'|translate }}</td>
            </tr>
        </table>

    </div>
  </div>
</div>