<ul class="filter__header">
  <li ng-class="{ 'active': app.submoduleName == '' }"><a ui-sref="kitchen" translate="frontend.kitchen.tabs.recipes" translate-default="">Recipes</a></li>
  <li ng-class="{ 'active': app.submoduleName == 'basic-meals' }"><a ui-sref="kitchen.basic-meals" translate="frontend.kitchen.tabs.basic_meals" translate-default="">General meals</a></li>
  <li ng-class="{ 'active': app.submoduleName == 'about' }"><a ui-sref="kitchen.about" translate="frontend.kitchen.tabs.about_kitchen" translate-default="">About kitchen</a></li>
  <!--<li><a ui-sref="kitchen" translate="frontend.kitchen.tabs.healthy_alternatives" translate-default="">Healthy Alternatives</a></li>-->
  <li ng-class="{ 'active': app.submoduleName == 'detox' }"><a ui-sref="kitchen.detox" translate="frontend.kitchen.tabs.detox_days" translate-default="">Detox days</a></li>
  <!--<li><a ui-sref="kitchen" translate="frontend.kitchen.tabs.at_the_restaurant" translate-default="">At the restaurant</a></li>-->
  <!--<li><a ui-sref="kitchen" translate="frontend.kitchen.tabs.experts" translate-default="">Kitchen experts</a></li>-->
</ul>
