<ng-include src="'views/common/header.html'"></ng-include>
<section class="section__intro section--honky hidden-print">
  <div>
    <div class="container">
      <div class="section__intro__picture" ng-click="app.openVideoModal('kitchen')">
        <img class="section__intro__picture__default" src="images/icon-kitchen.png">
        <img class="section__intro__picture__play" src="images/icon-play-video.png">
      </div>
      <p ng-controller="ContentBlockCtrl as mealsBlock" ng-init="mealsBlock.init('kitchen-intro')" ng-bind-html="mealsBlock.contentBlock"></p>
    </div>
    <div class="clearfix"></div>
  </div>
</section>
<section class="l-section-main section--azure" ui-view>
  <div class="container">
    <div class="filter main-content">
      <ng-include src="'views/kitchen/tabs.html'"></ng-include>
      <div class="filter__body">
        <div class="filter-container clearfix">
          <!--<div class="sub-title" translate="frontend.kitchen.filter.filter_view" translate-default="">Filter view:</div>-->
          <div class="form-inline pull-left">          
            <div class="form-group">
              <select
                  id="types-select"
                  ng-change="meals.filterCategories()"
                  class="type-select nya-selectpicker"
                  data-none-selected-text="Alle Typen"
                  data-container="body"
                  ng-model="meals.type"
                  ng-options="type.id as type.title for type in meals.types">
              </select>
            </div>
            <div class="form-group">
                <select
                    ng-if="meals.categories.length > 1 && meals.type != 0"
                    class="category-select nya-selectpicker"
                    data-none-selected-text="Alle Kategorien"
                    data-container="body"
                    ng-model="meals.category"
                    ng-change="meals.changeCategory()"
                    ng-options="category.id as category.title for category in meals.categories">
                </select>
                <select
                    ng-if="meals.type == 0 || meals.categories.length == 1"
                    disabled
                    class="category-select nya-selectpicker"
                    data-none-selected-text="Alle Kategorien"
                    data-container="body"
                    ng-model="meals.category"
                    ng-change="meals.changeCategory()"
                    ng-options="category.id as category.title for category in meals.categories">
                </select>
            </div>
          </div>
          <ul class="filter-inline">
            <li class="active" ng-click="meals.changeFavs(false)"><span translate="frontend.kitchen.filter.show_all" translate-default="">Show all</span></li>
            <li><i class="fa fa-heart"></i> <span ng-click="meals.changeFavs(true)" translate="frontend.kitchen.filter.only_favorites" translate-default="">Only favorites</span></li>
          </ul>
        </div>
        <div class="sub-title uppercase" translate="frontend.kitchen.filter.including_products" translate-default="">Including products</div>
        <div class="clearfix relative mb-base">
          <ul class="inline-checkbox-list pull-left">
            <li ng-repeat="product in meals.products">
                <div class="custom-checkbox">
                    <div class="custom-checkbox__container">
                        <input type="checkbox" checked ng-model="product.checked" ng-change="meals.changeProducts()" >
                        <span class="custom-checkbox__fake"></span>
                    </div>
                    <label class="custom-checkbox__label" ng-bind="product.title"></label>
                </div>
            </li>
          </ul>
          <div class="reset" ng-click="meals.resetFilters()">
            <span class="btn btn-default">
              <span translate="frontend.kitchen.filter.reset_filters" translate-default="">Reset filters</span><!--&nbsp;&nbsp;<i class="fa fa-undo"></i>-->
            </span>
          </div>
        </div>
        <hr class="fat">
        <p class="mt-md mb-md" ng-if="!isLoading" translate="frontend.kitchen.list.showing_meals" translate-values="{showing: meals.showingMealsLength(), total: allMeals.length}" translate-default=""></p>
        <p ng-if="isLoading" class="spinner-loader"><span us-spinner="{radius:7, width:2, length: 5, color: '#5c677b'}" spinner-key="kitchen-loader" spinner-start-active="1"></span></p>
        <ul class="img-items-list dishes">
          <li
              ui-sref="kitchen.recipe({ recipe: meal.id })"
              class="img-item"
              ng-repeat="meal in meals.filteredMeals() | limitTo: meals.mealsLimit()"
              ng-right-click>
            <figure>
              <img ng-src="{{ meals.getPreview(meal).photo.c172x143 }}">
              <div class="liked" ng-if="meal.favorite"><i class="fa fa-heart"></i></div>
              <!--<span class="type-badges">
                <span ng-repeat="type in meal.type | orderBy:'abbr'" class="badge img-item--badge">{{ type.abbr }}</span>
              </span>-->
              <span class="img-item__action" translate="frontend.kitchen.list.view_recipe" translate-default="">View recipe</span>
              <figcaption class="half" ng-hide="meal.cook == undefined">
                <span class="time" ng-bind="meal.cook"></span>
              </figcaption>
            </figure>
            <div class="img-item__desc">
              <strong ng-bind="meal.title"></strong>
              <!--<span ng-repeat="category in meal.category">{{ category.title }}{{ !$last ? ', ' : '' }}</span>-->
            </div>
          </li>
        </ul>
        <div ng-show="meals.hasMoreMealsToShow()" ng-click="meals.showMoreMeals()" class="text-center mb-md"><span class="btn btn-default-alt btn-show-more mt-md" translate="frontend.kitchen.list.show_more" translate-default="">Show more</span></div>
      </div>
    </div>
  </div>
</section>
<ng-include src="'views/common/footer.html'"></ng-include>