<nav class="footer global-nav demo-footer hidden-print">
    <div class="container">
        <a class="logo" href="#">SwitchFit</a>
        <ul class="contact-menu">
            <li><a class="mail" href="mailto:help@swtichfit.io">help@swtichfit.io</a></li>
            <li><a class="twitter" href="https://twitter.com/GoSwitchFit" target="_blank">@switchfit</a></li>
        </ul>
        <ul class="footer-menu">
            <li><a href="mailto:help@swtichfit.io">Help</a></li>
            <li><a ui-sref="demo.settings">Settings</a></li>
            <li><a href="http://www.goswitchfit.com/who-we-are" target="_blank" translate="frontend.menu.about">About</a></li>
        </ul>
    </div>
</nav>