<ul class="user-menu">
    <li><span class="user-menu__item fa fa-edit" ng-click="app.openModal({ templateUrl: 'views/modals/add-diary-entry.html', class:'add-diary-entry modal-sm' })"></span></li>
    <!--<li><a class="user-menu__item fa fa-question-circle" href="mailto:help@goswitchfit.com"></a></li>-->
    <li ng-class="{ 'active': app.moduleName == 'settings' }"><a class="user-menu__item fa fa-cog" ui-sref="demo.settings"></a></li>
    <li><a class="user-menu__item fa fa-sign-out" href="/logout" target="_self"></a></li>
</ul>